@import url('modules/variables.css');
@import url('modules/layout.css');
@import url('modules/components.css');
@import url('modules/inventory.css');
@import url('modules/index.css');
@import url('modules/modal.css');

@import url('files/login.css');